* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Section: Banner */
.top-banner {
    padding: 30px 40px;
    width: 100%;
    background: #c1c1c1;
}

.top-banner .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.top-banner .container .detail {
    margin-top: 10%;
    margin-left: 30px;
}

.top-banner .container .detail h2 {
    font-size: 50px;
    font-weight: 400;
    color: #ededed;
    margin-right: 50%;
    margin-bottom: 40px
}

.top-banner .container .detail .link {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    color: #ededed;
    background: #444;
}

.top-banner .container .detail .link:hover {
    background: #d5d6d1;
    color: #14150f;
}

.top-banner .container .img_box {
    flex-grow: 1;
}

.top-banner .container .img_box img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Section: Product */
.product-type {
    padding: 20px 30px;
    width: 100%;
}

.product-type .container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px; */
}

.product-type .container .box {
    padding: 10px 20px;
    /* margin-left: 10px; */
    margin-bottom: 20px;
    flex-basis: 33.33%;
    /* flex-direction: column; */
    box-sizing: border-box;
}

.product-type .container .box .img-box {
   width: 100%;
   height: 0;
   padding-bottom: 100%;
   border-radius: 30%;
   position: relative;
   background: #d5d6d1;
   overflow: hidden;
   cursor: pointer;
}

.product-type .container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.product-type .container .box .img-box:hover img {
    transform: scale(1.2);
}

.product-type .container .box .detail {
    max-width: 100%;
    text-align: center;
    align-items: center;
}

.product-type .container .box .detail p {
    margin-top: 20px;
    color: #77787c;
}

/* Section: About */
.about {
    padding: 40px 50px;
    width: 100%;
}

.about .container {
    /* max-width: 100%; */
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.about .container .box {
    flex: 0 0 270px;
    margin-bottom: 20px;
    padding: 10px 20px;
    display: flex;
    background: #cac5c5;
    /* width: 270px; */
    height: 90px;
    border-radius: 6px;
    cursor: pointer;
}

.about .container .box:hover {
    background: #d5d5d5;
}

.about .container .box .icon {
    color: #886b69;
    font-size: 32px;
    font-weight: 400;
    margin-top: 10px;
}

.about .container .box .detail {
    margin-top: 10px;
    margin-left: 10px;
}

.about .container .box .detail h3,
.about .container .box .detail p {
    color: #ededed;
}

/* Section: Product */
.product {
    padding: 30px 40px;
    width: 100%;
}

.product h2 {
    font-size: 30px;
    font-weight: 400;
    color: #14150f;
    margin-bottom: 20px;
    /* text-align: center; */
}

.product .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product .container .box {
    padding: 10px 20px;
    overflow: hidden;
    width: 200px;
    height: 400px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 4PX;
}

.product .container .box:hover {
    border: none;
    box-shadow: rgba(3, 3, 3, 0.35) 0px 5px 15px;
}

.product .container .box .img-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.product .container .box .product-img {
    max-width: 100%;
    max-height: 200px;
    margin-right: 50px;
}

.product .container .box .img-box .icon {
    z-index: 1;
    position: relative;
    /* right: 50px; */
    display: flex;
    flex-direction: column;
}

.product .container .box .img-box .icon li {
    list-style: none;
    padding: 2px 2px;
    color: #222;
    cursor: pointer;
    background: #fff;
    box-shadow: rgba(3, 3, 3, 0.35) 0px 5px 15px;
    transition: 0.5s;
}

.product .container .box .img-box:hover .icon {
    transform: translateX(-50px);
}

.product .container .box .img-box .icon li:hover {
    background: #77787c;
    color: #cac5c5;
}

.product .container .box .detail {
    margin-top: 10px;
}

.product .container .box .detail p {
    color: #77787c;
    font-size: 14px;
}

.product .container .box .detail h3 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #14150f;
    transition: 0.5s;
}

.product .container .box:hover .detail h3 {
    color: #98a083;
}

.product .container .box:hover .detail h4 {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #98a083;
    letter-spacing: 1px;
}