@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.products {
    padding: 30px 40px;
    width: 100%;
}

.products h2 {
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    color: #2e3138;
}

.products p {
    margin-top: 10px;
    color: #a29799;
}

.products .container {
    margin-top: 20px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.products .container .filter {
    padding: 20px 30px;
}

.products .container .filter .categories h3 {
    color: #2e3138;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.products .container .filter .categories ul {
    margin-top: 10px;
}

.products .container .filter .categories ul li {
    list-style: none;
    color: #2e3138;
    margin-top: 20px;
    cursor: pointer;
}

.products .container .productbox {
    margin-right: 0%;
}

.products .container .productbox .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products .container .productbox .content .box {
    padding: 10px 20px;
    overflow: hidden;
    width: 200px;
    height: 450px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 20px;
}

.products .container .box:hover {
    border: none;
    box-shadow: rgba(3, 3, 3, 0.35) 0px 5px 15px;
}

.products .container .productbox .content .box .img-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.products .container .box .product-img {
    max-width: 100%;
    max-height: 200px;
    margin-right: 50px;
}

.products .container .productbox .content .box .img-box .icon {
    z-index: 1;
    position: relative;
    /* right: 50px; */
    display: flex;
    flex-direction: column;
}

.products .container .productbox .content .box:hover .img-box .icon {
   transform: translateX(-50px);
}

.products .container .productbox .content .box .img-box .icon li {
    list-style: none;
    padding: 2px 2px;
    color: #222;
    cursor: pointer;
    background: #fff;
    box-shadow: rgba(3, 3, 3, 0.35) 0px 5px 15px;
    transition: 0.5s;
}

.products .container .productbox .content .box .img-box .icon li:hover {
    background: #77787c;
    color: #cac5c5;
}

.products .container .productbox .content .box .detail {
    margin-top: 10px;
}

.products .container .productbox .content .box .detail p {
    color: #77787c;
    font-size: 14px;
}

.products .container .productbox .content .box .detail h3 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #2e3138;
    transition: 0.5s;
}

.products .container .productbox .content .box .detail h3:hover {
    color: #a9908f;
}

.products .container .productbox .content .box .detail h4 {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #a9908f;;
    letter-spacing: 1px;
}